In [1]:
import pandas as pd

## Reading Data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

   fever  bodypain  age  runnyNose  diffBreath  infectionProb
0    102         0   24          1           1              1
1     98         0   52          0           0              1
2    104         0   56          1           0              1
3     98         1   45          1           1              0
4     98         0   92          0           1              0

In [4]:
df.tail()

      fever  bodypain  age  runnyNose  diffBreath  infectionProb
2564    104         0   14          0           1              1
2565    104         1   42          1           0              1
2566    102         0   23          0           0              1
2567    101         1   49          0           1              0
2568    102         0   30          0           0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2569 entries, 0 to 2568
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2569 non-null   int64
 1   bodypain       2569 non-null   int64
 2   age            2569 non-null   int64
 3   runnyNose      2569 non-null   int64
 4   diffBreath     2569 non-null   int64
 5   infectionProb  2569 non-null   int64
dtypes: int64(6)
memory usage: 120.5 KB

In [6]:
df['diffBreath'].value_counts()

0    1704
1     865
Name: diffBreath, dtype: int64

In [7]:
df.describe()

,fever,bodypain,age,runnyNose,diffBreath,infectionProb
count,2569.000000,2569.000000,2569.000000,2569.000000,2569.000000,2569.000000
mean,100.997664,0.513819,49.469054,0.488128,0.336707,0.518490
std,2.017832,0.499906,29.171756,0.499956,0.472676,0.499755
min,98.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,99.000000,0.000000,24.000000,0.000000,0.000000,0.000000
50%,101.000000,1.000000,49.000000,0.000000,0.000000,1.000000
75%,103.000000,1.000000,75.000000,1.000000,1.000000,1.000000
max,104.000000,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [8]:
import numpy as np

In [9]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [10]:
np.random.permutation(7)

array([0, 3, 4, 1, 6, 5, 2])

In [11]:
train, test = data_split(df,0.2)

In [12]:
train, test = data_split(df,0.2)

In [13]:
train

      fever  bodypain  age  runnyNose  diffBreath  infectionProb
1669    101         1   98          0           0              0
2291    102         1   10          1           0              1
361     104         0   54          1           0              0
1137    103         1   36          1           0              1
2181    101         0   64          0           1              0
...     ...       ...  ...        ...         ...            ...
1638    102         0   74          1           1              0
1095    103         0   94          1           0              0
1130     99         1    2          0           1              1
1294     98         1   58          1           0              1
860     103         1   44          1           0              1

[2056 rows x 6 columns]

In [14]:
test

      fever  bodypain  age  runnyNose  diffBreath  infectionProb
1462     98         1   25          0           0              0
889      98         1   56          1           0              0
1177     99         0   39          0           1              0
485      99         1   69          0           1              1
647     101         0   27          1           0              1
...     ...       ...  ...        ...         ...            ...
25      104         1   17          1           0              1
2455    103         1    0          0           1              1
1351    102         0   40          1           0              0
862     103         1   19          0           1              0
1697    104         0   95          0           0              0

[513 rows x 6 columns]

In [15]:
X_train = train[['fever','bodypain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodypain','age','runnyNose','diffBreath']].to_numpy()

In [16]:
Y_train = train[['infectionProb']].to_numpy().reshape(2056 ,)
Y_test = test[['infectionProb']].to_numpy().reshape(513 ,)

In [17]:
Y_train

array([0, 1, 0, ..., 1, 1, 1], dtype=int64)

In [18]:
from sklearn.linear_model import LogisticRegression

In [19]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [20]:
inputFeatures = [100,1,22,1,1]
infProb=clf.predict_proba([inputFeatures])[0][1]

In [21]:
infProb

0.4930948392765821